.container {
  background: url('/background.png') no-repeat center fixed;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  color: white;
  font-size: 40px;
  margin: 0;
  text-transform: capitalize;
}
.cardContainer {
  width: 80%;
  height: 90%;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sprite {
  width: 10%;
  animation: MoveUpDown 0.5s linear infinite;
  position: absolute;
  top: 18%;
  display: block;
  align-self: center;
  justify-self: flex-start;
  max-height: 20%;
}

@keyframes MoveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}
.headerContainer {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  align-items: center;
}
.idContainer {
  display: flex;
  align-items: center;
}

.statsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid white;
  width: 44%;
  height: 100%;
  border-radius: 15px;
}
.statContainer {
  width: 80%;
  display: flex;
  justify-content: space-between;
  color: white;
}
.firstContainer {
  display: flex;
  width: 100%;
  height: 40%;
  align-items: center;
  justify-content: space-between;
}
.description {
  width: 50%;
  color: white;
  text-align: center;
}
.title {
  background-color: white;
  width: 100%;
  height: 30px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px 15px 0 0;
}
.sprites {
  width: 25%;
}
.icons {
  width: 60%;
}
.iconsContainer {
  display: flex;

  margin-right: 50px;
}

.iconWrapper {
  width: 4vw;
  height: 4vw;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
}
.pageContainer {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}
.paginationButton {
  height: 50px;
  width: 50px;
  font-size: 40px;
  margin: 0 30px;
  color: #f6cc4b;
  background-color: #d74723;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapperContainer {
  margin-top: 5%;
  height: 100%;
  width: 95%;
  display: flex;
  justify-content: space-between;
}
.aboutContainer {
  height: 95%;
  width: 30%;
  border: 1px solid white;
  border-radius: 20px;
  color: white;
  display: flex;
  flex-direction: column;
}
.type {
  background-color: white;
  border-radius: 10px;
  padding: 2px 5px;
  margin-left: 10px;
  margin-right: 10px;
}
.typeContainer {
  display: flex;
}
.innerwrapperContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 66.6%;
  height: 95%;
}
.evoSpritesContainer {
  width: 33.3;
}

.movesInnerContainer {
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  height: 8vw;
  width: 20vw;
  color: white;
}
.movesContainer {
  width: 44%;
  height: 100%;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
}
.moves {
  margin: 0;
}
